<div *ngIf="hero">
  <div>
    <button mat-raised-button type="button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      Go Back
    </button>
  </div>
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Hero id: </mat-label>
      <input matInput [(ngModel)]="hero.id" readonly />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Hero name: </mat-label>
      <input matInput [(ngModel)]="hero.name" placeholder="Hero name" />
    </mat-form-field>
  </div>
  <button mat-raised-button type="button" color="accent" (click)="save()">
    <mat-icon>save</mat-icon>
    Save
  </button>
</div>

<p *ngIf="!hero">Hero not found.</p>
