<form>
  <h2>Add a Hero</h2>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Hero Name</mat-label>
    <input id="new-hero" #heroName matInput placeholder="Hero Name" />
  </mat-form-field>
  <div>
    <button
      mat-raised-button
      type="button"
      color="accent"
      (click)="add(heroName.value); heroName.value = ''"
    >
      Add hero
    </button>
  </div>
</form>

<h2>My Heroes</h2>

<mat-nav-list>
  <mat-list-item *ngFor="let hero of heroes" routerLink="/detail/{{ hero.id }}">
    <span matLine>
      <h3>
        {{ hero.name }}
      </h3>
    </span>
    <a
      mat-raised-button
      color="primary"
      matBadge="{{ hero.id }}"
      matBadgePosition="before"
    >
      Show Details
    </a>
    <button
      mat-mini-fab
      color="warn"
      type="button"
      title="delete hero"
      (click)="delete(hero)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
