<h2>My Heroes</h2>

<form>
  <h3>Add a Hero</h3>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Hero Name</mat-label>
    <input id="new-hero" #heroName matInput placeholder="Hero Name" />
  </mat-form-field>
  <div>
    <button
      mat-raised-button
      type="button"
      color="accent"
      (click)="add(heroName.value); heroName.value = ''"
    >
      Add hero
    </button>
  </div>
</form>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
    <button
      type="button"
      class="delete"
      title="delete hero"
      (click)="delete(hero)"
    >
      x
    </button>
  </li>
</ul>
