<form>
  <h2>Add a Hero</h2>
  <mat-form-field appearance="fill">
    <mat-label>Hero Name</mat-label>
    <input id="new-hero" #heroName matInput placeholder="Hero Name" />
  </mat-form-field>
  <div>
    <button
      mat-raised-button
      type="button"
      color="accent"
      (click)="add(heroName.value); heroName.value = ''"
    >
      <mat-icon>add</mat-icon>
      Add hero
    </button>
  </div>
</form>

<h2>My Heroes</h2>

<div fxLayoutAlign="center center" *ngIf="isLoading$ | async">
  <p><mat-spinner mode="indeterminate"></mat-spinner></p>
</div>

<mat-nav-list>
  <mat-list-item
    *ngFor="let hero of heroes$ | async"
    matBadge="{{ hero.id }}"
    matBadgePosition="before"
  >
    <div fxFlex="1 1 auto" routerLink="/detail/{{ hero.id }}">
      <h3>
        {{ hero.name }}
      </h3>
    </div>
    <div fxFlex="0 1 auto">
      <a mat-raised-button color="primary" routerLink="/detail/{{ hero.id }}">
        Show Details
      </a>
    </div>
    <div fxFlex="0 1 auto">
      <button
        mat-raised-button
        class="delete"
        color="warn"
        type="button"
        title="delete hero"
        (click)="delete(hero)"
      >
        <mat-icon>delete</mat-icon>
        Delete Hero
      </button>
    </div>
  </mat-list-item>
</mat-nav-list>
